@model List<ResultAttendeeDto>
@{
    Layout = null;
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Katılımcı Adı</th>
        <th>Katılımcı Soyadı</th>
        <th>Katılımcı Mail</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AttendeeId</td>
            <td>@item.Name</td>
            <td>@item.Surname</td>
            <td>@item.Email</td>
            <td><a href="/Attendee/DeleteAttendee/@item.AttendeeId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Attendee/UpdateAttendee/@item.AttendeeId" class="btn btn-primary">Güncelle</a></td>
        </tr>
    }

</table>

<a href="/Attendee/CreateAttendee" class="btn btn-dark">Yeni Katılımcı Girişi</a>